<!DOCTYPE html>
<html>
    <head>
        <title> About Page </title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/weather.png">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Ankit. It uses data from mapbox.com & Weather Stack </p>
            <img src="/img/robot.png" class="portrait">
        </div>
      
        {{>footer}}
    </body>


</html>